body {
    background-image: url('../images/boof.png');
    background-repeat: repeat;

}
.start {
    background-color: #aa7755;
    width: 550px;
    margin: 0 auto;
    padding: 15px;
}
/* Button */


/* End of Game */
.results {
    background-color: white;
    color: red;
}